@import "tailwindcss";
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-unbounded: var(--font-unbounded);
}
